
#box{
    color: aqua;
    background-color: black;
    padding: 20px;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    gap: 20px;
}
#box h1{
    font-size: 40px;
    text-shadow: 20px 20px 20px aqua;
    border-bottom: 2px solid greenyellow;
}
#box img{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    animation-name: square;
    animation-direction: inherit;
    animation-iteration-count: infinite;
    animation-duration: 5s;
}
@keyframes square{
    100%{transform: rotate(360deg);}
}
#box img:hover{
    box-shadow: 0px 0px 70px aquamarine;
}
#main{
    display: flex;
    padding: 10px;
    padding-bottom: 80px;
    position: relative;
}
#first{
    width: 300px;
    padding: 30px;
    border: 3px solid orange;
    background-color: aquamarine;
    box-shadow: 30px 20px 20px blueviolet;
    display: flex;
    border-radius: 20px;
}
#first:hover{
    background-color: deepskyblue;
}
h2{
    text-align: center;
    
}
#pic img{
    width: 400px;
    height: 400px;
    margin-left: 40px;
    box-shadow: 30px 20px 20px blue;
    border: 5px solid navajowhite;
    border-radius: 20px;
    }
    .me{
        width: 300px;
        padding: 30px;
        border: 3px solid greenyellow;
        background-color: aqua;
        box-shadow: 30px 20px 20px burlywood;
        display: flex;
        border-radius: 20px;
        margin-left: 40px;
    }
    #fot{
        width: 100%;
        height: 100px;
        background-color: black;
        align-items: center;
        margin-bottom: 50px;
    }
    #fot h2{
        color: white;
        font-size: 40px;
        text-align: center;
        padding: 30px;
    }
    #fot h2:hover{
        color: yellow;
        animation-duration: 2;
    }